settings:
  processes: 8 # Default number of processes the script will fallback to if none is specified in specific projects below
  verbose: false # When true, outputs additional information to logs about the HTTP requests being made

projects:
  # ===== YOUR PROJECT NAME HERE ======
  # SOURCE: Project Name (https://redcap.source.url/api/)
  # SOURCE PID: 1
  #
  # DESTINATION: REDCap Production (https://redcap.destination.url/api/)
  # DESTINATION PID: 1
  # # =======================================
  your_project_name_here:
    source:
      url: https://redcap.source.url/api/
      token: SOURCE_TOKEN_HERE

    destination:
      url: https://redcap.destination.url/api/
      token: DESTINATION_TOKEN_HERE

    processes: 1 # Takes precedence over the processes listed in settings
    verbose: false  # Takes precedence over the verbose flag listed in settings